<html>
    <head>
        <title>Rating</title>
        <meta charSet="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <script src="https://use.fontawesome.com/3dbe8d0d70.js"></script>
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
            a {
                text-decoration: none;
            }
            h2 {
                text-transform: uppercase;
                font-size: 18px;
                text-align: center;
            }
        </style>
        
    </head>

    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/static/vendor.js"></script>
        <script type="text/javascript" src="/static/bundle.js?v=2"></script>
    </body>
</html>